a {
    color: purple;
}

.main-menu-item {
    color: green;
}

.main-menu-item__sub-item3 {
    list-style-type: square;
}

.main-menu-item__sub-item2 {
    list-style-image: url("li.svg");
}

li ul li {
    list-style-type: none;
}

.main-menu-item__sub-item3 > a {
    text-decoration: none;
}

ol {
    padding-left: 50px;
}

