#main {
    text-align: center;
}

.item {
    font-size: 25px;
}

hr {
    border-top: 3px solid green;
    width: 70%;
}

#footer {
    font-family: Verdana, sans-serif;
}

.header {
    color: red;
}

.h1 {
    font-size: 30px;
}