body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}

.wrapper {
    width: 580px;
    margin-left: 450px;
    padding-left: 30px;
    padding-top: 5px;
}

.header {
    display: flex;
}

header p {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.49);
}


h1 {
    padding: 0;
    margin: 0;
    font-size: 72px;
}

.today {
    display: flex;
    justify-content: flex-start;
    /*width: 90%;*/
}

.weather {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    /*width: 40%;*/

}

img {
    display: block;
}

.temperature {
    font-family: 'arial', sans-serif;
    font-size: 64px;
    display: flex;
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.69);
    margin-left: -20px;
    margin-top: 25px;
}

.temperature span:nth-child(2) {
    font-size: 24px;
    align-self: start;
}

.img1 {
    width: 150px;
    align-self: flex-start;
}

span {
    margin: 0;
    padding: 0;
}

details {
    /*display: block;*/
    margin-left: 500px;
}

.details li {
    margin-left: 130px;
    display: list-item;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.7);
}
.details li span:nth-child(odd) {
    color: rgba(0, 0, 0, 0.51);;
}


hr {
    margin-right: 30px;
}

.day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.day-name {
    font-weight: bold;
}

.day-img {
    width: 100px;

}

.day-temp span {
    display: inline-block;
    clear: both;
    width: 100%;
}

.day-temp span:nth-child(2) {
    color: rgba(0, 0, 0, 0.5);
}

.address span:nth-child(1) {
    color: rgba(0, 0, 0, 0.5);
}