body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 80rem;
  padding: 20px;
  //display: flex;

}

#container {
  width: 300px;
  height: 300px;
  overflow: auto;
  position: relative;
  border: 1px solid black;
}

.block {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: lightblue;
  position: relative;
}