* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
}

main {
    padding-left: 300px;
    padding-right: 300px;
}

.logo {
    width: 50px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu img {
    width: 50px;
}

.menu * {
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.slogan {
    display: block;
    background: rgba(0, 0, 0, 0.12);
    padding: 50px 0 50px 0;
    align-content: center;
}

.slogan * {
    margin-left: 300px;
    color: rgba(0, 0, 0, 0.66);
}

.slogan p:nth-child(1) {
    font-style: normal;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 30px;
}

.head {
    margin-top: 50px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.head span {
    color: red;
}

.head h1 {
    color: rgba(0, 0, 0, 0.7);
}

.head .filter-btn {
    background: #ff5e5e;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head .filter-btn span {
    color: white;
}

.works {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works img {
    margin-top: 15px;
    width: 420px;
}

.contact {
    margin-top: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact p {
    color: rgba(0, 0, 0, 0.51);
    font-size: 24px;
    display: block;
    clear: both;
    width: 100%;
    text-align: center;

}

.contact .contact-btn {
    background: #ff5e5e;
    padding: 15px 20px;
    color: white;
    clear: both;
    justify-content: center;
    font-weight: bold;
}

.head .h1 {
    width: 100%;
}

.head p {
    color: rgba(0, 0, 0, 0.51);
}

.services {
    display: flex;
    justify-content: space-between;
}

.services img {
    width: 100px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px 0 50px;
    justify-content: center;
}

.service h2 {
    color: rgba(0, 0, 0, 0.7);
}

.service p {
    text-align: center;
    color: rgba(0, 0, 0, 0.49);
}

.examples {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example {
    width: 600px;
    display: flex;
    margin-bottom: 50px;
}

.example img {
    width: 200px;
}

.description {
    padding-left: 20px;
}

.description .date {
    color: rgba(0, 0, 0, 0.51);
    text-transform: uppercase;
}

.description h2 {
    text-transform: uppercase;
}

.description p {
    color: rgba(0, 0, 0, 0.69);
}

footer {
    background: rgb(37, 37, 37);
    text-align: center;
    padding: 50px;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
}

footer img {
    width: 30px;
    margin: 20px 0;
}