$color_1: rgba(0, 0, 0, 0.7);
$color_3: red;
$color_4: white;
$color_5: rgba(0, 0, 0, 0.5);
$color_8: rgba(255, 255, 255, 0.7);
$font-family_1: "Open Sans", sans-serif;
$background-color_1: #ff0000;
$background-color_2: #ffffff;